{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <ul>
        <li> <a href="{% url 'home'%}"> Home </a> </li>
        <li> <a href="{% url 'profile'%}"> Profile </a> </li>
        <li> <a href="{% url 'key'%}"> Key </a> </li>
        <li> <a href="{% url 'thisweek'%}"> This Week </a> </li>
        <li> <a href="{% url 'today'%}"> Today </a> </li>
    </ul>
{% endblock %}