<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width'>
        <title>{% block title %}Key{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
    	<h1> Key </h1>
    	<p> ● Tasks: things you have to do </p>
    	<p> - Notes: things you don't want to forget </p>
    	<p> ◦ Events: noteworth moments in time </p>
    	<p> ● Task incomplete </p>
    	<p> x Task complete </p>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>