{% extends 'base.html' %}

{% load static %}
{% block title %} Keys {% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <h1> Key </h1>
    <ul>
    	{% if the_keys %}
			{% for x in the_keys %}
				<li>
					{{x}}
					
				</li>
			{% endfor %}
		{% else %}
			<p> No keys. </p>
		{% endif %}
    </ul>
    <button type="button" onclick="document.getElementById('form').open='open'"> Add Key </button>
    <dialog id="form">
    	<form action="{% url 'key'%}" method="post">
        	{% csrf_token %}
       		{{form}}
        	<input type="Submit" value="Add">
    	</form>
    </dialog>
{% endblock %}
{% block scripts %}
{% endblock %}