{% extends 'base.html' %}

{% load static %}
{% block title %} Profile {% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <h1> Profile </h1>
    	<img src="{{picture}}" alt="hindi ako lilitaw" />
    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		{{ form1.as_p }}
    		<button type='submit'>Change</button>
    	</form>
        <ul>
        	<li> {{name}} </li>
        	<li>
        		{{nickname}}
        		<form action="/profile" method="POST" id='nickname'>
        			{% csrf_token %}
        			{{ form2 }}
        			<input type='Submit' value='Edit' id='nickname'>
        		</form>
        	</li>
        	<li>
        		{{bio}}
        		<form action="/profile" method="POST" id='bio'>
        			{% csrf_token %}
        			{{ form3 }}
        			<input type='Submit' value='Edit' id='bio'>
        		</form>
        	</li>
        </ul>
{% endblock %}