{% extends 'base.html' %}

{% load static %}
{% block title %} Profile {% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <h1> Profile </h1>
    	<img src="{{picture}}" alt="hindi ako lilitaw" />
    	<form method="POST" enctype="multipart/form-data">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<button type='submit'>Change</button>
    	</form>
        <ul>
        	<li> {{name}} </li>
        	<li> {{nickname}} </li>
        	<li> {{bio}} </li>
        </ul>
{% endblock %}