{% extends 'base.html' %}

{% load static %}
{% block title %} This Week {% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
    <h1> This Week </h1>
    	<p> 03.29.MON - 04.04.SUN </p>
    		<ul>
			{% if object_list %}
				{% for Tasks in object_list %}
					{% if Tasks.key.key == "Task" %}
						<li>
							<span id="{{forloop.counter}}">{{Tasks.key.key}} : {{Tasks.task}} </span>
							<a href="{{Tasks.get_absolute_url}}"><button type='button'> Edit </button></a>
							<a href="{{Tasks.get_absolute_url}}"><button type='button'> Delete </button></a>
							<button type='button' onclick='document.getElementById("{{forloop.counter}}").innerHTML="Task Done"'> Mark as Done </button>
						</li>
					{% else %}
						<li>
							{{Tasks.key.key}} : {{Tasks.task}}
							<a href="{{Tasks.get_absolute_url}}"><button type='button'> Edit </button></a>
							<a href="{{Tasks.get_absolute_url}}"><button type='button'> Delete </button></a>
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}
			</ul>
		<a href ="{% url 'addtask' %}"><button type='button'>Add Item</button></a>
{% endblock %}